boilerplates
html
.idea
*.sql.gz
docker-compose.yml
docker/services/apache-php/volumes/apache-m1.conf
docker/services/apache-php/volumes/apache-m2.conf
/temp/params.sh
/docker/services/db/volumes/data/*
/docker/services/db/importDb.sh
/docker/services/db/switchToLocal.sh
/docker/services/db/switchToLocal.sql
